<div class="row">
  <div class="col-md-6">
    <ol class="list-group" *ngIf="todos">
      <li class="list-group-item" *ngFor="let todo of todos">
          {{todo.name}} : {{todo.content}}
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    Name : <input [(ngModel)]="name" type="text" class="form-control">
    Content : <input [(ngModel)]="content" type="text" class="form-control">
    <button class="btn btn-success" [disabled]="!name.length || !content.length" (click)="addTodo()"> Add Todo </button>
  </div>
</div>
